@font-face {
    font-family: 'niagato';
    src: url('fonts/niagato.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	margin-top: 10vh;
	font-family: 'niagato', sans-serif;
	text-align: center;
	color: red;
	font-size: 275%;
}

div {
	margin: 20vh;
	font-size: 125%;
}
